.custom-form {
  background-color: #2a3b60;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: perspective(1000px) rotateX(20deg);
  max-width: 900px; /* Increase the width to your desired value */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.custom-form button {
  margin-top: 20px;
}
