.search-input-map {
  width: 30%;
  padding: 8px;
  margin-bottom: 20px;
  margin-top: 17px;
  margin-right: 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.search-input-map:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
